.campo-texto{
    display: flex;
    margin: 16px 0
}

.campo-texto label{
    width: 30%;
    font-size: 16px;
    font-weight: bold;
}

.campo-texto input{
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
}